@font-face {
    font-family: AnonymousPro;
    src: url(font/Anonymous\ Pro.ttf);
}
@font-face {
    font-family: AnonymousProBolds;
    src: url(font/Anonymous\ Pro\ B.ttf);
}

a {
    font-family: AnonymousProBolds;
}
h1 {
    font-family: AnonymousProBoldss;
}
li {
    margin-left: 840%;
}
.navbar {
    box-shadow: 0px 2px 2px black;

}
button {
    box-shadow: 0px 1px 1px black;

}
button:hover {
    transition-delay: 0.1s;
    box-shadow: 0px 0px 0px black;
}
.downloadcircle {
    width: 400px;
    height: 400px;
    background-color: rgb(145, 73, 0);
    border-radius: 50%;
    border: black 3px solid;
    display: inline-block;
    margin-top: 100px;
    box-shadow: 0px 2px 10px black;
}
.downloadcircle h3 {
    color: rgb(241, 138, 75);
    font-family: AnonymousProBolds;
}
.downloadcircle .btn {
    border-radius: 0px;
    font-size: 46px;
    margin-left: 10px;
}
.downloadBtn .btn {
    border-radius: 0px;
    font-size: 46px;
    margin-left: 10px;
    box-shadow: 0px 1px 5px black;
}
.btn {
    border-radius: 0px;
}
.heroImage {
    background-color: rgb(145, 73, 0);
    width: 90%;
    box-shadow: 0px 3px 5px black;
}
.heroImage img{
    width: 96%;
    border: black 2px solid;
}
h2 {
    font-family: AnonymousProBolds;
    color: rgb(241, 138, 75);

}
h1 {
    font-family: AnonymousProBolds;
    color: rgb(241, 138, 75);

}
.fitur h1 {
    padding-top: 10px;
    padding-bottom: 10px;

}
.fitur {
    background-color: rgb(145, 73, 0);
    width: 70%;
    box-shadow: 0px 3px 10px black;
}
.card-body {
    background-color: rgb(241, 138, 75);
    box-shadow: 0px 3px 10px black;  
    height: 160px;
    border-radius: 0px;
}
.card-title {
    color: rgb(145, 73, 0);
}
.card-text {
    color: rgb(145, 73, 0);
}
.card {
    width: 90%;
    border-radius: 0px;
}
.long-card .card {
    width: 194%;
    margin-left: 30px;
}
footer h1 {
    color: dimgray;

}
footer {
    background-color: rgb(58, 58, 58);
}
